<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mikea.vurro">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".INICIO"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Manual"
            android:label="Manual"
            android:parentActivityName=".MENU">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MENU" />
        </activity>
        <activity
            android:name=".Manejar"
            android:label="Manejo"
            android:parentActivityName=".MENU">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MENU" />
        </activity>
        <activity android:name=".MENU" />
        <activity
            android:name=".Registro"
            android:label="Registro"
            android:parentActivityName=".INICIO">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".INICIO" />
        </activity>
        <activity
            android:name=".Cajas"
            android:label="Abrir/Cerrar Cajas"
            android:parentActivityName=".MENU">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MENU" />
        </activity>
        <activity
            android:name=".Rutas"
            android:label="Ruta"
            android:parentActivityName=".MENU">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MENU" />
        </activity>
        <activity
            android:name=".Usuario"
            android:label="Usuarios"
            android:parentActivityName=".MENU">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MENU" />
        </activity>
        <activity android:name=".Conexion" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>